<!-- <% for(let i=0; i < 10; i++){ %>

    <li>
        <%= i %>
    </li>

    <% } %>

        <% for(let i=0; i < 10; i++) { %>

            <% if (i % 2===0){ txt="even" %>

                <% } else { txt="odd" } %>
                    <li>
                        <%= i %> - <%= txt %>
                    </li>

                    <% } %> -->

<!-- <h1>
    <%= msg %>
</h1>
<h2>
    <%= msg2 %>
</h2>
<h3>
    <%= validated %>
</h3>

<%- html %> -->
